<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello page</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <div th:if="${#httpServletRequest.remoteUser.equals('Ivan')}">
        <h3>This is admin</h3>
    </div>

    <div th:if="${#httpServletRequest.remoteUser.equals('Alex')}">
        <h3>This is user</h3>
    </div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
