<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello page</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <div th:if="${#httpServletRequest.remoteUser.equals('Ivan')}">
        <h3>You are admin</h3>
        <p>Click <a th:href="@{/admin}">here</a> to start working.</p>
    </div>

    <div th:if="${#httpServletRequest.remoteUser.equals('Alex')}">
        <h3>You are user</h3>
        <p>Click <a th:href="@{/user}">here</a> start working.</p>
    </div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
