<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>U.Workspace</title>
</head>
<body>
<table border="1" cellpadding="10">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Category</td>
        <td>Actions</td>
    </tr>
        <tr th:each="product : ${listProduct}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td>
                <a th:href="@{/addToBucket/{id}(id=${product.id})}" class="btn btn-danger">add</a>
            </td>
        </tr>
</table>
<a th:href="@{/openBucket}">Bucket</a>
</body>
</html>
